*{
	margin: 0px;
	padding: 0px;
}

body{
	background-color: #ffb400;
}

#mytext{
	width: 22%;
	height: 37px;
	font-size: 30px;
	letter-spacing: 3px;
}

.btn{
	width: 66px;
	height: 40px;
	font-size: 20px;
	border: none;
	cursor: pointer;
	background-color: #dae7e7b3;
}

.app{
	margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}